uv_sensitivity: 2300
probe_extend_time: 15.75
probe_retract_time: 15.65
auger_extend_time: 7.23
auger_retract_time: 7.14
primary_door_extend_time: 1.84
primary_door_retract_time: 1.89
secondary_door_extend_time: 2.00
secondary_door_retract_time: 1.77
secondary_cache_extend_time: 6.46
secondary_cache_retract_time: 6.55